.forecastweather{
    color: #fff;
    background: #f0f8ff17;
    padding: 1rem;
    border: 1px solid #ffffff1a;
}
.forecastweather, .searchsection{
    margin: 0.5rem auto;
    text-align: center;
}

table{
    color: #ffffff;
    font-size: 1.4rem;
}

.forecastweather h6{
    text-transform: uppercase;
}

h2, h6, i{
    margin: 1.5rem;
}

.loadingIcon{
    text-align: center;
}

.loadingIcon .spinner-border{
    color: #fff;
}

.lastupdate{
    margin-top: 2rem;
    text-align: right;
    color: #343a40;
}

h1{
    color: #fff;
}