<div class="row mt-4 ">
    <div class="col-md-9 searchsection">
        <h1>Forecast</h1>

        <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
          <input type="text" 
          name="cityname"
          placeholder="Search a city" 
          #cityInput class="form-control"
          [(ngModel)]="cityname"
          />
        </div>
          <button type="submit" class="btn btn-light mb-2" (click)="getcityweather()">GET</button>
        </form>
  
    </div>
  </div>

  <div class="loadingIcon" *ngIf="loading" >
      <div class="spinner-border text-muted"></div>
    </div>

  <div class="row">
      <div class="col-md-9 text-center forecastweather" *ngIf="show" >
          <h2>{{weatherData.city.name}}</h2>
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">Day</th>
                  <th scope="col">Image</th>
                  <th scope="col">Temp</th>
                  <th scope="col">Description</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let day of weatherData.list | slice:0:5; let i=index">

                  <th scope="row">{{day.dt_txt}}</th>
                  <td><img [src]="iconURL + day.weather[0].icon +'.png'"></td>
                  <td>{{day.main.temp}}</td>
                  <td>{{day.weather[0].main}} <small>({{day.weather[0].description}})</small></td>
                </tr>
              </tbody>
            </table>
            <p class="lastupdate">Last update: {{now | date: 'dd/MM/yyyy hh:mm:ss'}}</p>
    </div>
  </div>