<div class="bg-light">

  
<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" routerLink="/currentweather" (click)="clickEvent('c')"  
      [ngClass]="status == 'c' ? 'active' : ' '">Current</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/forecast" (click)="clickEvent('f')"  
      [ngClass]="status == 'f' ? 'active' : ''">Forecast</a>
    </li>
  </ul>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
