ul{
    box-shadow: -1px 1px 5px 0px rgba(95, 93, 93, 0.68)
}
.nav-link{
    padding: 1rem 5rem;
    color: #1f5c79;
    transition: 1s;
    left: 0;
}
a.active{
    background-color: #c7c7c7a1;
    border-radius: 6%;
}