<div class="row mt-4">
  <div class="col-md-9 searchsection">
    <h1>Current Weather</h1>
      <form class="form-inline">
      <div class="form-group mx-sm-3 mb-2">
        <input type="text" 
        name="cityname"
        placeholder="Search a city" 
        #cityInput class="form-control"
        [(ngModel)]="cityname"
        />
      </div>
        <button type="submit" class="btn btn-light mb-2" (click)="getcityweather()">GET</button>
      </form>

    </div>
  </div>

  <div class="loadingIcon" *ngIf="loading" >
    <div class="spinner-border text-muted"></div>
  </div>

<div class="row">
    <div class="col-md-4 text-center currentweather" *ngIf="show" >
      <h2>{{weatherData.name}}</h2>
      <img width="150" [src]="iconURL + weatherData.weather[0].icon +'.png'">
      <h6>{{weatherData.main.temp}}°</h6>
      <h6>{{weatherData.weather[0].main}}</h6>
      <h6>{{weatherData.weather[0].description}}</h6>
      <p class="lastupdate">Last update: {{now | date: 'dd/MM/yyyy hh:mm:ss'}}</p>
  </div>
</div>