.currentweather{
    color: #fff;
    background: #f0f8ff17;
    padding: 4rem 1rem 0 ;
    border: 1px solid #ffffff1a;
}
.currentweather, .searchsection{
    margin: 0.5rem auto;
    text-align: center;
}

.currentweather h6{
    text-transform: uppercase;
}

h2, h6, i{
    margin: 1.5rem;
}

.loadingIcon{
    text-align: center;
}

.lastupdate{
    margin-top: 5rem;
    text-align: right;
    color: #343a40;
}

h1{
    color: #fff;
}